@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #5a3e2b;
  background-color: #ffe8cc;
  min-height: 100vh;
  padding: 3.2rem;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

.header {
  background-color: #f4a226;
  text-align: center;
  padding: 2.4rem 0;
}

.header h1 {
  font-family: "Monoton", cursive;
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 30px;
  letter-spacing: -5px;
  margin-bottom: 2.4rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.menu h2 {
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
}

.menu > p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.6;
  width: 80%;
}

.blog-post {
  background-color: #ffebb3;
  padding: 2.4rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-post h3 {
  font-size: 2rem;
  font-weight: 400;
}

.blog-post p {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.add-post-form {
  background-color: #ffebb3;
  padding: 2.4rem;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.add-post-form h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.add-post-form form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.add-post-form input,
.add-post-form textarea {
  font-size: 1.6rem;
  padding: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #ffebb3;
}

.add-post-form input:focus,
.add-post-form textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(244, 162, 38, 0.4);
}

.add-post-form button {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 5px;
  background-color: #76c7ad;
  color: #343a40;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-post-form button:hover {
  background-color: #ff922b;
}

.footer {
  background-color: #ff922b;
  text-align: center;
  padding: 2.4rem 0;
}

.footer p {
  font-size: 1.4rem;
}